
<link rel="stylesheet" href="/bootstrap.css">
<link rel="stylesheet" href="/main.css">


<nav class="navbar navbar-expand-lg navbar-dark navbar-custom nav-isdark">

<img src="/logo.png">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav custom-center">
      <li class="nav-item active">
        <a class="nav-link" href="/reviews">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/writeReviews">Write A Review</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/myReviews">My Reviews</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>

