
   
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="bootstrap.css">
<link rel="stylesheet" href="main.css">

<link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">

<body>

<div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

<img src="tomato.png">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav custom-center">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
    </ul>
  </div>
</nav>

    <div class="row">
        <img id="image" src="/images/picture.jpg">
    </div>
    <div id="loginUI">
        <label id="login">LOG IN</label>
    </div>
    <div id="formUI">
        <form action="/new" method="post">
            <div class="form-group">
                <input type="email" name="email"  id="form1" placeholder="E-MAIL"><br>
            </div>
            <div class="form-group">
                <input type="password" name="password" id="form2" placeholder="PASSWORD"><br>
            </div>
            <div id="submitButtonID">
                <button type="submit" class="submitButton">SUBMIT</button>
            </div>
        </form>
    </div>
</div>
</body>






