<link rel="stylesheet" type="text/css" href="/reviews.css">
<link rel="stylesheet" type="text/css" href="/bootstrap.css">

<form class="form-search" action="/search" method="POST"> 
	<input type="text" class="search-bar btn-search" name="search" placeholder="Type Here....">
	<button class="search-button"><img src="/search.png" height="40px" height="122px"></button>
</form>

